<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n7.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>n9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bm_num2.png</string>
            <key>size</key>
            <string>{152,22}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9c56353fc660d4bea9b8de5aa03fcb5:8cc41c5538c60f34c31699efceba438b:e2fd43443e1d8b2cbb7228ea161c0d5a$</string>
            <key>textureFileName</key>
            <string>bm_num2.png</string>
        </dict>
    </dict>
</plist>
